*
{
  padding: 0;
  margin: 0;
  font-family: 'Nunito', sans-serif;
}
body
{
  background: #f0f0f0;
}
/* NavBar */
header
{
  width: 100%;
  height: 55px;
  background: white;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
hr
{
  margin:0 auto;
  margin-top:1.5em;
  margin-bottom: 2em;
}
.brand
{
  transform: translateX(.5em);
  font-weight: bold;
}

/* Menu for laptop & tablet */
.menu-items
{
  display: none;
  list-style: none;
  border-radius: 10px;
  transform: translateX(-10px);
}
.menu-items li a
{
  text-decoration: none;
  color: black;
}
.menu-items li
{
  padding: 5px;
  padding-left: 8px;
  padding-right: 8px;
  transition:.5s;
}
.menu-items li:hover
{
  background: black;
  transition:.5s;
}
.menu-items li:hover a
{
  color:white;
}
.menu-items li:first-child
{
  border: 1px solid black;
  border-radius: 5px 0 0 5px;
}
.menu-items li:last-child
{
  border: 1px solid black;
  border-radius: 0 5px 5px 0;
}
.menu-items li:nth-child(2)
{
  border: 1px solid black;
}

/* Menu for mobile */
.burger
{
  transition:.5s;
  width: 38px;
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  border-radius: 10px;
  transform: translateX(-.5em);
}
.burger i
{
  transform: translateY(2px);
}
.burger:active
{
  transition:.5s;
  border: 2px solid black;
  border-radius: 10px;
}

/* Menu container */
.menu
{
  transition: 1s;
  width: 50%;
  height: 100vh;
  background: white;
  border-radius: 0px 10px 10px 0px;
  box-shadow: 3px 3px 10px rgba(0,0,0,.5);
  transform:translateX(-400px);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: .8em;
  padding: 1em;
  position: fixed;
  top:0;
}
.close-btn
{
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  position: absolute;
  right:0;
  top:50%;
  color: #f90064;
  transform: translateX(25px);
  background-color:white;
  border-radius: 50%;
}
.close-btn i
{
  z-index: 100;
  transform: translateY(5px);
}
.menu-wrapper
{
  position: fixed;
  z-index: 100;
  top:0;
}
.active
{
  transition: 1s;
  transform: translateX(0px);
  width: 70%;
  height: 100vh;
}
.wrapper-active
{
  width: 100%;
  height: 100vh;
  background: rgba(255,255,255,.2);
  backdrop-filter:blur(3px);
  transition: 1s;
}
.ping
{
  position: absolute;
  transform: translateY(-5px);
  width: 40px;
  height: 40px;
  background: rgba(255,124,177,0.306);
  z-index: -1;
  border-radius: 50%;
  animation: ping 1s linear infinite;
}
@keyframes ping {
  0%, 100% {
   transform: scale(1.3);
  }
  50% {
   transform: scale(0);
  }
}
.menu-brand
{
  width: 90%;
  height: 50px;
  background: black;
  color: white;
  display: flex;
  align-items: center;
  border-radius: 10px;
  padding-left: .5em;
  padding-right: .5em;
  justify-content: space-between;
}
.menu-brand i
{
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  transform: translateY(2px);
  background: white;
  color: black;
  border-radius: 20px 2px 20px 2px;
}
/* Container isi menu for mobile */
.menu-container
{
  list-style: none;
  margin-top: 1em;
}
.menu-container li
{
  width: 90%;
  height: 50px;
  margin-top: 1em;
  margin-bottom: 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: .5em;
  padding-right: .5em;
  transition: .5s;
}
.menu-container li:hover
{
  background: rgba(0,0,0,.2);
  border-radius: 10px;
  transition: .5s;
}
.menu-container li div
{
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 1em;
  font-size: 1.1rem;
  font-weight: bold;
}
.menu-container li i
{
  transform: translateY(2px);
}
.menu-container li a
{
  text-decoration: none;
  color: black;
}

.badge-icon
{
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  transform: translateY(2px);
  background: white;
  color: black;
  border-radius: 10px;
  opacity: 0;
  transition: ease 1s;
}
.menu-container li div:hover ~ .badge-icon
{
  opacity: 1;
  transition: ease 1s;
  
}
/* END MENU FOR MOBILE */

/* MAIN */
main
{
  margin-top: 1em;
}
.hero
{
  text-align: center;
}
.hero h5
{
  font-size: 1.5rem;
}
.hero p
{
  color: gray;
  margin-top: 2em;
  margin-bottom: 2em;
  font-size: 1rem;
}

section
{
  margin-top: 3em;
}
.opini p
{
  max-width: 280px;
  margin-top: 1em;
  font-style: italic;
  font-family: Arial;
  color: gray;
  font-size: .7rem;
  text-align: center;
}
.profile
{
  display: flex;
  gap: .8em;
  margin-top: 1.1em;
}
.profile-img
{
  width: 38px;
  height: 38px;
  background: #d5d5d5;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  color: darkgray;
}
.profile-nama
{
  font-size: .8rem;
  color: #535353;
}
.profile-nama::before
{
  content: attr(data-profesi);
  position: absolute;
  color: gray;
  font-size: .7rem;
  transform: translateY(18px);
}
.img-form
{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* INFORMASI TENTANG MY.TRAVEL */
.info
{
  width: 300px;
  font-size: 1rem;
  color: #3f3f3f;
}
.num
{
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: lightgray;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  color: #a3a3a3;
}
.info div
{
  margin-top: .5em;
  gap: 1.1em;
  
}
.info p
{
  font-style: normal;
  text-align: left;
  margin-left: 3.5em;
  transform: translateY(10px);
  max-width: 200px;
  font-size: .9rem;
  font-family: 'Nunito', Sans-Serif;
}


/* FORM */
.form
{
  width: 290px;
  height: 480px;
  background: #e8e8e8;
  padding-top: 2.5em;
  padding-left: 2em;
  padding-right: 2em;
  border-radius: 10px;
}
.form-content
{
  width: 80%;
  margin-left: 2em;
}
.form-title
{
  font-size: 1.2rem;
}
.form-title b
{
  background: black;
  color: white;
  padding: 3px;
  border-radius: 20px 0 20px 0;
}
.form-title::before
{
  content: attr(data-deskripsi);
  position: absolute;
  color: gray;
  font-size: .8rem;
  transform: translateY(50px);
  max-width: 250px;
}
#interest
{
  width: 70%;
  border-radius: 10px 0 0 10px;
}
form
{
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}
input
{
  outline: none;
  width: 90%;
  height: 25px;
  padding: 8px;
  font-size: 1rem;
  border-radius: 10px;
  border: 2px solid gray;
  background: none;
}
.not-valid
{
  border: 2px solid #ff3a58;
  color: #ff3a58;
}
.alert
{
  color: #ff3a58;
  font-size: .8rem;
}
.email-alert
{
  display: none;
  color: #ff3a58;
  font-size: .8rem;
}
select
{
  width: 95%;
  height: 42px;
  outline: none;
  border: 2px solid gray;
  border-radius: 10px;
  background: none;
  font-weight: bold;
}
label
{
  font-weight: bold;
}
.arrow-down
{
  font-size: 1.2rem;
  position: absolute;
  transform: translateX(-18.5px)translateY(11px);
}
.arrow-down i
{
  transform: translateY(2px);
}
.button
{
  width: 70%;
  height: 35px;
  padding: 4px;
  outline:none;
  border-radius: 15px;
  background: black;
  color: white;
  box-shadow: 3px 5px 10px rgba(0,0,0,.3), 2px 2px 10px rgba(0,0,0,.1)inset;
  font-weight: bold;
  border: none;
  font-size: 1rem;
  transition: .5s;
}
.button:disabled
{
  background: lightgray;
  color: gray;
  box-shadow: 0px 0px 0px rgba(0,0,0,.3), 2px 2px 10px rgba(0,0,0,.1)inset;
}
.button:disabled:hover
{
  background: lightgray;
  color: gray;
  box-shadow: 0px 0px 0px rgba(0,0,0,.3), 2px 2px 10px rgba(0,0,0,.1)inset;
  border: none;
}
.button:hover
{
  transition: .3s;
  background: white;
  color: black;
  border: 2px solid black;
}


/* SLIDER IMAGE VERSI SAYA :) */
.slide-wrapper 
{
  position: relative;
  max-width: 300px;
  height: 280px;
  margin: 0 auto;
  background: none;
}
.slide 
{
  display: flex;
  aspect-ratio: 16 / 15;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}
.slide img
{
  flex: 1 0 100%;
  scroll-snap-align: start;
  object-fit: cover;
}
.slide-item 
{
  opacity:0;
  display: none;
  transition: 1s all;
 
}
.s-active 
{
 display: block;
 transition:1s all;
}
/* END SLIDER IMAGE */


/* OUR PACKAGE SECTION */
.our-title
{
  width: 100%;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #e4e4e4;
  color: #4b4b4b;
  font-weight: bold;
  font-size: 1.7rem;
}
.package-container
{
  margin-top: 3em;
  display: flex;
  flex-wrap: wrap;
  gap: 10%;
  justify-content: center;
  
}
.package-item
{
  width: 200px;
  height: 180px;
  background: none;
}
.package-detail b
{
  font-size: 16px;
}
.package-detail span
{
  margin-top: .5em;
  font-size: 14px;
  color: gray;
}
.package-icon
{
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #e5e5e5;
  color: #878787;
  font-size: 1.3rem;
  float: left;
  border-radius: 50%;
}
.package-detail
{
  display: flex;
  flex-direction: column;
  transform: translateX(10px);
}

/* CLOSING CONTAINER */
.closing-container
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  text-align: center;
  font-size: 15px;
}
.closing-container p
{
  max-width: 88%;
}

/* FOOTER */
footer
{
  text-align: center;
}
footer p
{
  font-size: 15px;
  color: gray;
  margin-top: 1.5em;
  max-width: 220px;
  margin: 0 auto;
}
/* Media query */

/* Laptop */
@media (min-width: 998px)
{
  .menu-items {
    display: flex;
  }
  .burger {
    display: none;
  }
  .menu-wrapper {
    display: none;
  }
  .img-form
  {
    flex-direction: row;
    gap: 2em;
  }
  .hero h5
  {
    font-size: 2rem;
  }
  .our-title 
  {
    height: 180px;
    font-size: 1.7rem;
  }
  .package-container 
  {
    gap: 10%;
  }

}

/* Tablet & landscape */
@media  (max-width: 768px)
{
  .menu-items {
    display: flex;
  }
  .burger {
    display: none;
  }
  .menu-wrapper {
    display: none;
  }
  .img-form
  {
    flex-direction: row;
    gap: 2em;
  }
  .our-title 
  {
    height: 180px;
    font-size: 1.7rem;
  }
  .package-container 
  {
    gap: 5%;
  }
}

/* Phone */
@media (max-width: 576px)
{
  .menu-items {
    display: none;
  }
  .burger {
    display: flex;
  }
  .menu-wrapper {
    display: block;
  }
  .img-form
  {
    align-items: center;
    flex-direction: column;
    gap: 1em;
  }
  .our-title 
  {
    height: 100px;
    font-size: 1.2rem;
  }
  .package-container 
  {
    gap: 10%;
  }
}